*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: monts;
}

@font-face {
    font-family: monts;
    src: url('../fonts/Montserrat-Regular.ttf');
}

body{
    background-color: #f1f5f8;
}

.container{
    width: 250px;
    min-height: 300px;
    border-radius: 10px;
    margin: 2rem auto;
    background-color: #fff;
    /* border: 1px solid red; */
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}