.portfolio{
    height: 100vh;
    display: grid;
    place-content: center;
}






































@media (max-width: 1024px){
    .portfolio{
        min-height: 45vh;
        /* background-color: red; */
    }
}