.btn{
    padding: 10px;
    list-style: none;
    color: #fff;
    background-color: green;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
}

.center{
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    height: 60px;
}


ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.links{
    text-decoration: none;
    color: #444;
    
}

.links.active{
    font-family: montsbold;
    color: tomato;
}

